body {
    margin: 0px;
    pad: 0px;
    background-color: black;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.main {
    padding: 10px;
    
}

.main_h2 {
    padding: 5px;
    color: white;
}

.main_article {
    background-color: rgb(200,200,200);
    border-radius: 10px;
    padding: 5px;
}
.main_article_menu {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    
}
.main_article_menu_input {
margin-left: 0.5%;
margin-right: 0.5%;
box-shadow: 2px 2px black;
}
.main_article_menu_p { 
    background-color: rgb(178,178,178);
    border-radius: 10px;
    border: 2px solid orange;
    padding: 5px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    
}
.main_article_aside {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-flow: row wrap;
    
}
.main_article_aside_card {
    width: 22%;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(150,150,150);
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

.corbeille {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}